*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.warning {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.success {
    
    font-size: 1.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success img {
    width: 25%;
}

.error {
    font-size: 1.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error img {
    width: 25%;
}

.hide {
    display: none;
}


.form label {
    margin-left: 6rem;
    font-size: 1.2rem;
}



#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto;
    width: 100%;
}

#form .form-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    
    align-items: center;

}

.form-container h1 {
    color: rgb(161, 161, 161);
}

#form .img {
    width: 30%;
}

#form .img img {
    width: 70%;
}

.in-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

.in-form input {
    border-radius: 10px;
    border-style: none;
    border: 1px solid #b1b1b1;
    padding: 0.7rem 1rem;
    width: 50%;
    outline: none;
    margin: 0.5rem auto;
}

.in-form .button {
    border: 1px solid;
    padding: 0.8rem 2rem;
    text-align: center;
    background-color: gold;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    outline: none;
    width: 25% !important;
}

.logo
{
    width:100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    background: #614385;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}



