*{
    margin: 0;
    padding: 0;
}


/*header*/

.menu-wrap {
    position: relative;
    top: 40px;
    left: 180px;
    z-index: 1;
}


/*manifest */


#manifesto {
    margin-bottom: 5rem;
}

#manifesto .paragraph-box {
    
    padding: 0 2rem;

}

.manifest .heading-md {
    padding: 0;
}

.manifest .paragraph {
    padding: 0;
    margin: 0;
}

.manifest img {
    width: 90%;
}

.manifest .contactButton {
    margin-left: 0;
}



/*product*/

#products {
    justify-content: center;
    margin: 0 auto;
}

#products .product-box {
    width: 45%;
}



/*explain*/


.explain-box {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: box-shadow .5s;
    border-radius: 10px;
    padding: 2rem 0;
    margin: 1rem 1rem;
}


.explain-box .paragraph-box {
    width: 50%;
    padding: 4rem 2rem;
   
}

.explain-box .img {
    width: 50%;
    display: flex;
    justify-content: center;}
    
.explain-box .img img {
    width: 50%;
    
}

.paragraph-box p {
    font-size: 1rem;
}

/*footer */

#footer {
    flex-direction: column;
}

#footer .left,.right {
    width: 100%;
}

.left {
    flex-direction: column-reverse;
}


/*---------portfolio-------------*/

#portfolio {
    
    padding: 0rem;
}

#portfolio .portfolio_box {
    width: 80%; 
    padding: 1rem;
}

.image-wrap .content {
    width: 100%;
}